/* Reset */
* {
    margin: 0;
    padding: 0;
}

/* Font */
@font-face {
    font-family: Sora;
    src: url(./media/fonts/Sora.ttf);
}

* {
    font-family: Sora;
}


/* Body */
body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 164px 40px 40px 40px;

    background-color: #FAFAF9;
}

/* Card basic layout*/

.card {

    width: min-content;

    display: flex;
    flex-direction: column;
    gap: 20px;

    background-color: #FFFFFF;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 10px;

    & img {
        width: 336px;
        border-radius: 10px;
    }

    & .card__main {

        margin: 16px 16px 0 16px;

        display: flex;
        flex-direction: column;
        gap: 16px;

        & .card__tag {
            background-color: #E6D6FC;
            color: #883AE1;
            font-size: 0.625rem;
            font-weight: 600;

            width: min-content;
            padding: 6px 16px;

            border-radius: 100px;
        }

        & h2 {
            color: #20293A;
            font-size: 1.125rem;
            margin-bottom: 6px;
        }

        & p {
            color: #6C727F;
            font-size: 0.875rem;
            font-weight: 300;
        }
    }

    & hr {
        border: none;
        border-top: 1px solid #E5EAF0;
    }

    & .card__footer {
        margin: 0 16px 20px 16px;

        & .card__author {
            color: #6C727F;
            font-size: 0.75rem;
            font-weight: 400;
        }
    }
}